GEMINI_API_KEY=
OPENAI_API_KEY=
OPENHANDS_STORAGE_PATH=./storage
NODE_ENV=dev
SECRET_KEY=super-secret-key
API_SECURITY_KEY=your-default-api-key-for-external-calls
DB_PATH=./system.db
PROJECT_ROOT=/home/dd/work/diep/openhands_workspace

